################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLExpressVBTest
/.vs/SQLExpress
/SQLExpress/bin
/SQLExpress/obj
*.exe
*.bat
*.nupkg
*.nuspec
/SQLExpressCSTest
